 
 .spacer{
    flex: auto 1 1;
}
 /* .sp{
   flex: auto 1 1;
  }
  div.menu{
   position: absolute;
   width:800px;
   float: auto;
   border: honeydew;
   float:right;
   position:center;
}
 menu ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
 .adm{
    float:right ;
   }  */