<div class="jumbotron text-center">
  <h4>Short path media contact</h4>
  <!-- <div></div> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5>Sport News</h5>
      <p>other sprots info...</p>
      <p>other info link...</p>
    </div>
    <div class="col-sm-3">
      <h5>News links</h5>
      <p>heath infor goes here...</p>
      <p>other goes here...</p>
    </div>
    <div class="col-sm-3">
      <h5>News</h5>
      <p>weather info...</p>
      <p>other info...</p>
    </div>
    <div class="col-sm-3">
      <h5>News</h5>
      <p>about us...</p>
      <p>contact us...</p>
    </div>
  </div>
</div>

<div id="chatbox" [style.visibility]="hideChat ? 'hidden' : 'visible'">
  The chat box out put goes here
  <app-chat></app-chat>
</div>
<button class="btn btn-primary myFAB" (click)="chatToggle()">
  Chat Toogle
</button>
