<!-- <div class="jumbotron text-center">
  <h4>Short path media contact</h4>
 
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5>Sport News</h5>
      <p>other sprots info...</p>
      <p>other info link...</p>
    </div>
    <div class="col-sm-3">
      <h5>News links</h5>
      <p>heath infor goes here...</p>
      <p>other goes here...</p>
    </div>
    <div class="col-sm-3">
      <h5>News</h5>
      <p>weather info...</p>
      <p>other info...</p>
    </div>
    <div class="col-sm-3">
      <h5>News</h5>
      <p>about us...</p>
      <p>contact us...</p>
    </div>
  </div>
</div> -->

<!-- <div class="jumbotron text-center">
  <h4>Short path media contact</h4>
</div> -->

<section id="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      <ul class="list-unstyled list-inline social text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa fa-facebook"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/?lang=en" target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
        </li>
        <!-- <li class="list-inline-item">
          <a href="https://www.fiverr.com/share/qb8D02"
            ><i class="fa fa-google-plus"></i
          ></a>
        </li> -->
        <li class="list-inline-item">
          <a
            href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
            target="_blank"
            ><i class="fa fa-envelope"></i
          ></a>
        </li>
      </ul>
    </div>
    <hr />
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
    >
      <p>
        <u><a href="http://localhost:4200/home">Group4</a></u> is a Registered
        TCS/ILP of Training, Inc. USA [a wholly owned subsidiary of Group 4
        workers]
      </p>
      <p class="h6">
        © All right Reversed.<a
          class="text-green ml-2"
          href="http://localhost:4200/home"
          >NewssMedia</a
        >
      </p>
    </div>
    <hr />
  </div>
</section>

<div id="chatbox" [style.visibility]="!hideChat ? 'hidden' : 'visible'">
  <app-chat></app-chat>
</div>
<button class="myFAB" mat-fab color="accent" (click)="chatToggle()">
  <mat-icon>mode_comment</mat-icon>
</button>
