

       
   <div class="jumbotron text-center">
       <h4> Short path media contact</h4>
    
  </div>
  <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
			
      
        <div class="col-xs-12 col-sm-4 col-md-4">

          <h5>Short path</h5>
					<ul class="list-unstyled quick-links">
						<li> <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a class="nav-link" [routerLink]="['/sports']"><i class="fa fa-angle-double-right"></i>Sport</a></li>
						<li><a class="nav-link" [routerLink]="['/contact-us']"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
						<li><a class="nav-link" [routerLink]="['/about-us']"><i class="fa fa-angle-double-right"></i>About Us</a></li>
					
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Short path</h5>
          <ul class="list-unstyled quick-links">
						<li> <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a class="nav-link" [routerLink]="['/sports']"><i class="fa fa-angle-double-right"></i>Sport</a></li>
						<li><a class="nav-link" [routerLink]="['/contact-us']"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
						<li><a class="nav-link" [routerLink]="['/about-us']"><i class="fa fa-angle-double-right"></i>About Us</a></li>
					
					</ul>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Short path</h5>

					<ul class="list-unstyled quick-links">
						<li> <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a class="nav-link" [routerLink]="['/sports']"><i class="fa fa-angle-double-right"></i>Sport</a></li>
						<li><a class="nav-link" [routerLink]="['/contact-us']"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
						<li><a class="nav-link" [routerLink]="['/about-us']"><i class="fa fa-angle-double-right"></i>About Us</a></li>
					
					</ul>
				</div>
			</div> 

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">Group4</a></u> is a Registered TCS/ILP of Training, Inc. USA [a wholly owned subsidiary of Group 4 workers]</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">NewssMedia</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
    
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Contact Us</h5>
        <p>Washington.</p>
        <p>State Dc</p>
        <p>Zip Code 21221</p>
        <p>Phone Number:202-1234567</p>
        <p>Phone Number:202-1234565</p>
      </div>
      <div class="col-sm-3">
        <h5>Menu </h5>
        <p> Home</p>
        <p> Sport</p>
        <p> Contact Us</p>
        <p> About s</p>
      </div>
      <div class="col-sm-3">
        <h5>Latest News</h5>        
        <p>Latest 1</p>
        <p>Latest 2</p>
        <p>Latest 3</p>
        <h5>&copy;2021 Copyright </h5>
      </div>
      <div class="col-sm-3">
        <h5>Social Contact</h5>        

         <a href="#" class="fa fa-facebook">f</a>
         <a href="#" class="fa fa-twitter">t</a>
         <a href="#" class="fa fa-google">g</a>
         <a href="#" class="fa fa-linkedin">l</a>
         <a href="#" class="fa fa-youtube">y</a>               
        
      </div>
    </div>
   </div> -->
  
  