<div class="d-flex justify-content-center">
  <div class="card m-5 contact-us-card">
    <h3 class="card-header">Contact Us</h3>
    <div class="card-body">
      <form form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="w-75 mx-auto my-2" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput id="email" type="email" formControlName="email" />
          <mat-error *ngIf="this.submitting && f.email?.errors">Email is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="w-75 mx-auto my-2" appearance="fill">
          <mat-label>Message</mat-label>
          <textarea matInput id="query" formControlName="query" rows="7"></textarea>
          <mat-error *ngIf="this.submitting && f.query?.errors">Message is required.</mat-error>
        </mat-form-field>

        <br>
        <mat-divider></mat-divider>
        <br>

        <button mat-raised-button color="primary" type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
</div>
