img {
  object-fit: cover;
  object-position: center;
  max-height: 500px;
}

.caroTitle {
  color: white;
  text-shadow: 0 0 10px #000000;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.linkNoDeco {
  text-decoration: none;
}
