
<!---QUERY LIST-->
<div class="container mt-3 py-3 queries-body">
  <h1>Customer Queries</h1>
  <table class="table mt-5">
    <thead class="table">
      <tr>
        <th scope="col">EMAIL</th>
        <th scope="col">QUERY</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody *ngFor="let q of allQueries; let i = index">
      <tr>
        <td>{{ q.email }}</td>
        <td>{{ q.query }}</td>
        <td>
          <button mat-fab color="warn" type="button" (click)="removeQuery(q)" class="btn btn-danger">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
