<div  class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Today</a>      
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Yesterday</a></li>
        
        <li><a href="#">Before Yesterday</a></li>
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Yesterday<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Latest1</a></li>
          <li><a href="#">Latest2</a></li>
          <li><a href="#">Latest3 </a></li>              
        </ul>
      </li>
      </ul>
    </div>
  </nav>
</div>