.latestbody {
  max-width: 75%;
}

.img-cardss {
  float: left;
  max-width: 400px;
  max-height: 280px;
  margin: 5px;
  border-radius: 5px;
}

.card-linkz {
  text-decoration: none;
  color: black;
}

.news-cards {
  background-color: ghostwhite;
}
