<div class="my-3">
  <div class="card latestbody bg-dark mx-auto">
    <h4 class="card-title text-center text-white m-2">Latest News</h4>
  </div>
</div>

<div class="sports-list mx-auto">
  <div
    class="item"
    *ngFor="let item of allNews"
    attr.data-link="{{ item.url }}"
  >
    <img
      src="{{ item.image_url }}"
      style="
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        height: 100%;
        width: 20%;
        border-radius: 10px;
        float: left;
      "
    />
    <p>
      <strong>
        <a
          href="{{ item.url }}"
          target="_blank"
          title="{{ item.title }}"
          style="text-decoration: none; color: black"
        >
          {{ item.title }}
        </a>
      </strong>
      <br />
      <small
        ><em>Posted on {{ item.createdAt | date: "mediumDate" }}</em></small
      >
    </p>
    <p>
      {{ item.description }}
    </p>
  </div>
</div>

<!-- <div
      class="card mb-2 mx-auto news-cards"
      style="width: 99%; max-height: auto"
      *ngFor="let n of allNews; let i = index"
    >
      <a href="{{ n.url }}" class="card-linkz">
        <div class="row">
          <div
            class="col"
            id="im-col"
            style="background-color: yellow; padding-right: 10px"
          >
            <img
              src="{{ n.image_url }}"
              class="img-cardss"
              alt=""
              style="text-overflow: inherit"
            />
          </div>

          <div class="col" id="col2">
            <div class="card-body">
              <h5
                class="card-title"
                style="text-decoration: none; word-wrap: normal"
              >
                {{ n.title }}
              </h5>
              <p class="card-text card-linkz">
                {{ n.description }}
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Posted on {{ n.createdAt | date: "mediumDate" }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </a>
    </div> -->
