  
.item {
    float: left;
    
    width: 90%;
    height: 150px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    background: white;
    color: #808080;
    border-radius: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: 4px 4px rgba(0, 0, 0, .3);
  }
  .image img{
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 88%;
    width: 25%;
    border-radius: 10px;
  }

  